extends layout

block content
  h1 MicroBlog
  form(action='/', method= 'post')
    .form-group
        label(for='username') UserName     
        input.form-control(type='text', name= 'username', placeholder='Enter UserName',)  
    .form-group
      label(for= 'password') Password    
      input.form-control(type='password', name= 'password', placeholder='Enter Password')  
    button.btn.btn-default(type='submit') Submit


  




