extends layout

block content
    h1 SHITTER Login
    form(action='/login', method='post')
        .form-group
            label(for= 'username') Enter your user name:
            input.form-control(type= 'text' name= 'username')
        .form-group
            label(for= 'password') Enter your password: 
            input.form-control(type= 'text' name= 'password')
        button.btn.btn-default(type='submit') Submit
        
    p Shit outta luck
    a(href='https://localhost:4000') click here